.digital{
    width: 75em;
    height: 35em;
    margin: 10em auto;
    background-color: var(--background);
    box-shadow: 
        -10px -10px 30px var(--shadow-light), 
        10px 10px 30px var(--shadow-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

.numbers-container{
    display: flex;
    align-items: center;
}

.number{ 
    position: relative;
    width: 6em;
    height: 11.5em;
    margin-left: 1em;
}

.digital-on,
.digital-off{
    position: absolute;
    border-radius: 2px;
}

.digital-on{
    background-color: var(--shadow-light);
    box-shadow: 
        -1px -1px 2px var(--shadow-light), 
        1px 1px 2px var(--shadow-dark);
}

.digital-off{
    background-color: var(--background-dark);
    box-shadow: 
        inset -1px -1px 2px var(--shadow-light), 
        inset 1px 1px 2px var(--shadow-light)
}

.position-1,
.position-2,
.position-4,
.position-5{
    width: 0.5em;
    height: 5em;
}

.position-0,
.position-3,
.position-6{
    width: 5em;
    height: 0.5em;
}

.position-0,
.position-6{
    left: 0.5em;
}

.position-1,
.position-2{
    right: 0;
}

.position-1,
.position-5{
    top: 0.5em;
}

.position-2,
.position-4{
    bottom: 0.5em;
}

.position-3{
    bottom: 0;
    right: 0.5em;
}

.position-6{
    top: 5.5em;
}

.digital-separator{
    display: flex;
    flex-direction: column;
}

.dot{
    height: 1em;
    width: 1em;
    margin: 2em 0 2em 1em;
    border-radius: 50%;
    background-color: var(--background);
    box-shadow: 
        -2px -2px 4px var(--shadow-light), 
        2px 2px 4px var(--shadow-dark);
}