@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    background-clip:padding-box;
}

body, .clocks, .mode, .clock-style{
    display: flex;
    align-items: center;
}

body{
    background-color: var(--background);
    font-size: 8px;
    font-family: 'Rubik', sans-serif;
    flex-direction: column;
}

.clocks, .mode, .clock-style{
    margin-top: 4em;
}

.clocks{
    width: 50%;
}

.text{
    font-size: 2em;
    color: var(--accent);
    margin: 0 1em;
}
